<footer class="temp-footer throw-query dynamic-style">
  <div class="footer-top d-footer-bg d-footer-c">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="footer-inner">
            <div id="logo-footer" class="logo">
              <a href="index.html" rel="home">
                <img
                  src="assets/aaab7257bf1aa08828891f68c08baf70.jpg"
                  alt="image"
                />
              </a>
            </div>

            <ul class="footer-list">
              <li>
                <i class="fas fa-map-marker-alt"></i
                ><a href="javascript:void(0)"
                  >House No#28, Road No#02, Parjatan Motel Gate, R K Road,
                  Rangpur
                </a>
              </li>
              <li>
                <i class="fa fa-phone"></i
                ><a href="tel:01329630770-3">01329630770-3</a>
              </li>
              <li>
                <i class="fa fa-envelope"></i
                ><a href="javascript:void()">support@myairticket.xyz</a>
              </li>
            </ul>
          </div>
          <div class="footer-inner">
            <ul class="social-links">
              <li>
                <a
                  target="_blank"
                  href="https://www.facebook.com/profile.php?id=100092525940926"
                  title="Facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>

              <li>
                <a
                  target="_blank"
                  href="https://www.linkedin.com/company/myairticket"
                  title="LinkedIn"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>

              <li>
                <a
                  target="_blank"
                  href="https://twitter.com/my_air_ticket"
                  title="Twitter"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>

              <li>
                <a
                  target="_blank"
                  href="https://www.instagram.com/my_air_ticket/"
                  title="Instagram"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>

              <!-- Messenger info -->
              <li>
                <!-- Your Chat Plugin code -->
                <div
                  class="fb-customerchat"
                  attribution="setup_tool"
                  theme_color="#000000"
                  minimized="true"
                  page_id="107400959014561"
                ></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="widget join-widget">
            <div class="widget-title">
              <h3>Quick Links</h3>
            </div>
            <ul class="footer__links">
              <li>
                <a class="common_loader" href="index.html"
                  ><i class="far fa-chevron-double-right"></i>Home</a
                >
              </li>
              <li>
                <a class="common_loader" href="home/all-blogs.html"
                  ><i class="far fa-chevron-double-right"></i>Blogs</a
                >
              </li>
              <li>
                <a class="common_loader" href="home/privacy_policy.html"
                  ><i class="far fa-chevron-double-right"></i>Privacy Policy</a
                >
              </li>
              <li>
                <a class="common_loader" href="home/refund_policy.html"
                  ><i class="far fa-chevron-double-right"></i>Refund Policy</a
                >
              </li>
              <li>
                <a class="common_loader" href="home/terms_condition.html"
                  ><i class="far fa-chevron-double-right"></i>Terms &
                  Conditions</a
                >
              </li>
              <li>
                <a class="common_loader" href="home/faq.html"
                  ><i class="far fa-chevron-double-right"></i>FAQ</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="widget join-widget">
            <div class="widget-title">
              <h3>We Accept</h3>
            </div>
            <div>
              <img
                src="assets/templates/public/template_v17/assets/images/paywith_mobile_version.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom d-footer-bottom-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copyright d-footer-bottom-c text-center">
            <p>
              @Copyright 2023
              <a href="index.html">MY AIR TICKET | SIFATBD</a>. All rights
              reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-ornament">
    <img
      src="assets/templates/public/template_v17/assets/images/footer-shape.png"
    />
  </div>
  <div class="footer--right-shape">
    <img
      src="assets/templates/public/template_v17/assets/images/footer-shape2.png"
    />
  </div>
</footer>
