<header class="temp-header" id="header">
  <div class="temp-header-container">
    <div class="temp-header-top d-top-menu-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="header-top-inner">
              <div class="temp-left">
                <ul class="social-icon">
                  <li>
                    <a
                      target="_blank"
                      href="https://www.facebook.com/profile.php?id=100092525940926"
                      title="Facebook"
                      ><i class="fab fa-facebook-f d-top-menu-c"></i
                    ></a>
                  </li>

                  <li>
                    <a
                      target="_blank"
                      href="https://www.linkedin.com/company/myairticket"
                      title="LinkedIn"
                      ><i class="fab fa-linkedin d-top-menu-c"></i
                    ></a>
                  </li>

                  <li>
                    <a
                      target="_blank"
                      href="https://twitter.com/my_air_ticket"
                      title="Twitter"
                      ><i class="fab fa-twitter d-top-menu-c"></i
                    ></a>
                  </li>

                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/my_air_ticket/"
                      title="Instagram"
                      ><i class="fab fa-instagram d-top-menu-c"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="temp-right">
                <ul class="list-info">
                  <li>
                    <a
                      class="btn-login d-top-menu-c"
                      routerLink="/login"
                      data-modal="#loginContent"
                      ><i class="fal fa-sign-in mr-1 text-white"></i> Login</a
                    >
                  </li>
                  <li>
                    <a
                      class="btn-register d-top-menu-c"
                      href="agent/home/login.html"
                      ><i class="fal fa-sign-in mr-1 text-white"></i> Agent
                      Login</a
                    >
                  </li>
                  <li>
                    <a
                      class="btn-register d-top-menu-c"
                      routerLink="/signUp"
                      data-modal="#signupContent"
                      ><i class="fal fa-user mr-1 text-white"></i> Sign Up</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--        Temp Header Top End       -->

    <div class="temp-main-navigation d-main-menu-bg">
      <div class="navigation-inner navigation-bottom-border">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                  <img
                    src="assets/aaab7257bf1aa08828891f68c08baf70.jpg"
                    alt=""
                    class="black common_loader"
                  />
                </a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#bk-navbar"
                  aria-controls="bk-navbar"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <i class="fal fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="bk-navbar">
                  <ul class="navbar-nav m-auto d-main-menu-c navbar-v17">
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/"
                        >Home <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link common_loader" routerLink="/about"
                        >Know Us</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link common_loader" routerLink="/service"
                        >Service</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link common_loader"
                        routerLink="/find-booking"
                        >Find Booking</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link common_loader" routerLink="/contact-us"
                        >Contact Us</a
                      >
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <div class="close-form">
                        <a class="theme-btn" href="javascript:void(0)">
                          <i class="fas fa-phone-volume"></i>
                          <span>Call Us</span>
                          01329630770-3
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
