<div class="dynamic-style">
  <section class="section popular-package main-body">
    <div class="events__shape">
      <img
        class="events-1-shape"
        src="assets/templates/public/template_v17/assets/images/events-shape.png"
      />
    </div>
    <div class="container">
      <div class="row d-none">
        <div class="col-12">
          <div class="section-title">
            <h4>Welcome to MY AIR TICKET | SIFATBD</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="popular-slider">
            <div class="swiper-container">
              <!-- Area Dynamic Start -->

              <div class="swiper-wrapper"></div>
              <!-- Area Dynamic End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-----------------------------------------------------POPULAR PACKAGE END------------------------------------------------------->

  <!-----------------------------------------------------COMPANY SERVICE START------------------------------------------------------->
  <section class="section company-service">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wpo-section-title-s2 text-center">
            <h2 class="text-white">Our Best Service</h2>
            <p class="text-white text-center">
              We provides you following best services .
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="service-slider">
            <div class="swiper-container">
              <div class="swiper-wrapper" style="display: inline">
                <div class="swiper-slide">
                  <div
                    class="service-item"
                    style="width: 30%; margin-left: 20px"
                  >
                    <div class="radius-top">
                      <img
                        src="../../../assets/images/017bd29b2b3008be8071630bfdc4d279.png"
                        alt=""
                      />
                    </div>
                    <div class="hover_layer">
                      <h4 class="mb-2">Visa Processing</h4>
                      <p>
                        10 Visa Processing Tips to Help You Get Approved
                        Quickly&nbsp; Visa processing is a crucial step in
                        traveling abroad. It can be a stressful and&#8230;
                      </p>
                      <div class="clearfix">
                        <a
                          href="home/solutions/10-visa-processing-tips-to-help-you-get-approved-quickly.html"
                          class="details__btn"
                          ><i class="far fa-long-arrow-alt-right"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div
                    class="service-item"
                    style="width: 30%; margin-left: 40px"
                  >
                    <div class="radius-top">
                      <img
                        src="../../../assets/images/6936343a1cea629b15ac56fb76842585.jpg"
                        alt=""
                      />
                    </div>
                    <div class="hover_layer">
                      <h4 class="mb-2">Online Flight Booking</h4>
                      <p>
                        Unlock the Best Flight Deals with Online Flight Booking:
                        Tips and Tricks Are you tired of paying too much for
                        your flights? Do you want&#8230;
                      </p>
                      <div class="clearfix">
                        <a
                          href="home/solutions/unlock-the-best-flight-deals-with-online-flight-booking-tips-and-tricks.html"
                          class="details__btn"
                          ><i class="far fa-long-arrow-alt-right"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-slide">
                  <div
                    class="service-item"
                    style="width: 30%; margin-left: 40px"
                  >
                    <div class="radius-top">
                      <img
                        src="../../../assets/images/ca5430ab2eb7d4cf1504d1a67e8b7e6c.jpg"
                        alt=""
                      />
                    </div>
                    <div class="hover_layer">
                      <h4 class="mb-2">Flight Ticket</h4>
                      <p>
                        Fly Smart The Benefits of Booking Flight Tickets in
                        Advance and How to Score the Best Deals &nbsp; In
                        today's fast-paced world, travel has become&#8230;
                      </p>
                      <div class="clearfix">
                        <a
                          href="home/solutions/fly-smart-the-benefits-of-booking-flight-tickets-in-advance-and-how-to-score-the-best-deals.html"
                          class="details__btn"
                          ><i class="far fa-long-arrow-alt-right"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="slider-navigation-container service__control">
              <div class="swiper-nav-nav">
                <div class="swiper-nav-prev swiper__common">
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </div>
                <div class="swiper-nav-next swiper__common">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-----------------------------------------------------COMPANY SERVICE END--------------------------------------------------------->

  <!-----------------------------------------------------COMPANY PARTNER START------------------------------------------------------->

  <section class="section company-partners">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- <div class="section-title">
                    <h4>Welcome to</h4>
                    <h2>Our <span>Trusted</span> Partners</h2>
                    <p>Exclusive Promotions from Partners Are Available</p>
                </div> -->
          <div class="wpo-section-title-s2">
            <h2>Our Trusted Partners</h2>
            <p>Exclusive Promotions from Partners Are Available .</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="com-partner">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-img-slider">
                  <img
                    data-toggle="tooltip"
                    title="Saudi Arabian Airline"
                    src="../../../assets/logo/SV.png"
                  />
                </div>
                <div class="swiper-img-slider">
                  <img
                    data-toggle="tooltip"
                    title="Air Arabia"
                    src="../../../assets/logo/G9.png"
                  />
                </div>
                <div class="swiper-img-slider">
                  <img
                    data-toggle="tooltip"
                    title="US-Bangla"
                    src="../../../assets/logo/BS.png"
                  />
                </div>
                <div class="swiper-img-slider">
                  <img
                    data-toggle="tooltip"
                    title="Regent Airways"
                    src="../../../assets/logo/RX.png"
                  />
                </div>
                <div class="swiper-img-slider">
                  <img
                    data-toggle="tooltip"
                    title="Thai Air"
                    src="../../../assets/logo/T2.png"
                  />
                </div>
                <div class="swiper-img-slider">
                  <img
                    data-toggle="tooltip"
                    title="NovoAir"
                    src="../../../assets/logo/VQ.png"
                  />
                </div>
                <div class="swiper-img-slider">
                  <img
                    data-toggle="tooltip"
                    title="Biman Bangladesh Airlines"
                    src="../../../assets/logo/BG.png"
                  />
                </div>
              </div>
            </div>
            <div class="slider-navigation-container">
              <div class="swiper-nav-nav">
                <div class="swiper-nav-prev swiper__common">
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </div>
                <div class="swiper-nav-next swiper__common">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-----------------------------------------------------COMPANY PARTNER END------------------------------------------------------->

  <!-----------------------------------------------------BLOG START------------------------------------------------------->
  <section class="section blog-content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wpo-section-title-s2">
            <h2>From News Feeds</h2>
            <p>
              It was popularized in the with the release desktop publishing
              software like versions .
            </p>
          </div>
          <!-- <div class="section-title">
                <h2> <span>Blog</span> Content</h2>
                <p>Our Latest News</p>
            </div> -->
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="blog-content">
            <div class="swiper-container" style="display: flex">
              <div class="swiper-wrapper">
                <div class="swiper-slide" style="width: 30%">
                  <div class="blog-slide">
                    <div class="blog-img common_loader">
                      <img
                        src="../../../assets/images/Blog/3ac84e84e9cfb63fcaaf0ed62d782961.jpg"
                        alt="Blog Image"
                      />
                    </div>

                    <div class="blog-review">
                      <ul class="blog-bar">
                        <li>
                          <i class="fas fa-calendar-alt"></i> Aug 14, 2023
                        </li>
                      </ul>

                      <h3 class="blog-title">The Visa Check Hack&#8230;</h3>

                      <p class="blog-description">
                        When it comes to traveling internationally, visa checks
                        are an essential part of the process that can often
                        cause stress and inconvenience. These checks are&#8230;
                      </p>

                      <a
                        href="home/blog-details/what-are-some-of-the-visa-hacks.html"
                        class="readmore common_loader"
                        >read more</a
                      >
                    </div>
                  </div>
                </div>

                <div class="swiper-slide" style="width: 30%; margin-left: 50px">
                  <div class="blog-slide">
                    <div class="blog-img common_loader">
                      <img
                        src="../../../assets/images/Blog/623d4032e7237791bc98d08f309350ac.jpg"
                        alt="Blog Image"
                      />
                    </div>

                    <div class="blog-review">
                      <ul class="blog-bar">
                        <li>
                          <i class="fas fa-calendar-alt"></i> Jul 12, 2023
                        </li>
                      </ul>

                      <h3 class="blog-title">
                        Domestic Flights এ MyAirTicket.xyz&#8230;
                      </h3>

                      <p class="blog-description">
                        অফারটি চলবে ২০ জুন থেকে ২৮ জুন পর্যন্তJessore -&gt;
                        Dhaka (Starts from 1961 BDT)Hotline: 01329630770-3
                      </p>

                      <a
                        href="home/blog-details/domestic-flights-jessore-to-dhaka.html"
                        class="readmore common_loader"
                        >read more</a
                      >
                    </div>
                  </div>
                </div>

                <div class="swiper-slide" style="width: 30%; margin-left: 50px">
                  <div class="blog-slide">
                    <div class="blog-img common_loader">
                      <img
                        src="../../../assets/images/Blog/8f1896d3445314477287bb71aef5536e.jpg"
                        alt="Blog Image"
                      />
                    </div>

                    <div class="blog-review">
                      <ul class="blog-bar">
                        <li>
                          <i class="fas fa-calendar-alt"></i> Jun 25, 2023
                        </li>
                      </ul>

                      <h3 class="blog-title">Fly Smart The Benefits&#8230;</h3>

                      <p class="blog-description">
                        Are you ready to take to the skies and embark on your
                        dream journey? The first step towards an exciting travel
                        experience begins with booking&#8230;
                      </p>

                      <a
                        href="home/blog-details/fly-smart-the-benefits-of-booking-flight-tickets-in-advance-and-how-to-score-the-best-deals.html"
                        class="readmore common_loader"
                        >read more</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider-navigation-container">
              <div class="swiper-nav-nav">
                <div
                  class="swiper-nav-prev swiper__common"
                  style="display: none"
                >
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </div>
                <div
                  class="swiper-nav-next swiper__common"
                  style="display: none"
                >
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
