<app-navbar />

<main class="temp-content temp-common-content">
  <div class="page-title-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="page-title-inner">
            <h1 class="main-heading">Some Good Services</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="com-section add-tickets-info">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-header">
            <h2>
              <span>Some Good Services</span> <i class="fas fa-caret-down"></i>
            </h2>
          </div>
          <div class="section-body" style="display: block; text-align: justify">
            <div class="body-inner">
              <!-- Start -->
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="hotle-list-item">
                    <div class="room-item">
                      <div class="row">
                        <div class="col-12">
                          <div class="img">
                            <a href="javascript:void(0)"
                              ><img
                                src="../../../assets/images/017bd29b2b3008be8071630bfdc4d279.png"
                                alt="#"
                            /></a>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="content">
                            <h2 class="hotel-name text-center">
                              Flight Ticket
                            </h2>
                            <p class="paragraph-margin">
                              Fly Smart The Benefits of Booking Flight Tickets
                              in Advance and How to Score the Best Deals &nbsp;
                              In today's fast-paced world, travel has
                              become&#8230;
                            </p>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="bottom">
                            <a
                              href="solutions/2.html"
                              class="btn btnBt common_loader"
                              >View Details</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="hotle-list-item">
                    <div class="room-item">
                      <div class="row">
                        <div class="col-12">
                          <div class="img">
                            <a href="javascript:void(0)"
                              ><img
                                src="../../../assets/images/6936343a1cea629b15ac56fb76842585.jpg"
                                alt="#"
                            /></a>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="content">
                            <h2 class="hotel-name text-center">
                              Online Flight Booking
                            </h2>
                            <p class="paragraph-margin">
                              Unlock the Best Flight Deals with Online Flight
                              Booking: Tips and Tricks Are you tired of paying
                              too much for your flights? Do you want&#8230;
                            </p>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="bottom">
                            <a
                              href="solutions/3.html"
                              class="btn btnBt common_loader"
                              >View Details</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="hotle-list-item">
                    <div class="room-item">
                      <div class="row">
                        <div class="col-12">
                          <div class="img">
                            <a href="javascript:void(0)"
                              ><img
                                src="../../../assets/images/ca5430ab2eb7d4cf1504d1a67e8b7e6c.jpg"
                                alt="#"
                            /></a>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="content">
                            <h2 class="hotel-name text-center">
                              Visa Processing
                            </h2>
                            <p class="paragraph-margin">
                              10 Visa Processing Tips to Help You Get Approved
                              Quickly&nbsp; Visa processing is a crucial step in
                              travelling abroad. It can be a stressful
                              and&#8230;
                            </p>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="bottom">
                            <a
                              href="solutions/4.html"
                              class="btn btnBt common_loader"
                              >View Details</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!---Booking Report Section End--->
</main>
<app-footer />
